.btn {
  text-transform: uppercase;
  border-radius: 50px;
  border: 2px solid $colorMain;
  padding: 10px 30px;
  background-color: $colorMain;
  color: $colorWhite;
  font-weight: 700;
  cursor: pointer;
}
