* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

@for $i from 1 through 20 {
.font-body-#{$i} {
 font-size: 5px * $i;
 }
}

.font-cursive {
  font-family: 'Dancing Script', cursive;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
}
