.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px;
  font-family: 'Martel Sans', sans-serif;
  font-weight: 700;
  width: 100%;


  & .plus-header {
    > .fa-plus {
      color: $colorTextGray;
      font-weight: 700;
    }
  }
}

.nav-left, .nav-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
  // background-color: pink;

  & .icon-home i {
      color: $colorAquamarine;
    }

   & i {
     color: $colorMain;
   }

  & .box-small-header {
    > h5, p {
      margin: 0;
      color: $colorTextGray;
    }
   }
}

.logo {
  width: 50%;
}

.hero {
  background-image: url("../src/img/hero/avada-spa-slider-image-1-new.jpg");
  height: 800px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: $colorWhite;

  & .text-hero {
    display: flex;
    height: 70%;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    > h1, h3 {
      margin: 0;
    }

    > button {
      margin-top: 30px;
    }
  }
}
