.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px;
  font-family: 'Martel Sans', sans-serif;
  font-weight: 700;
  width: 100%;


  & .plus-header {
    > .fa-plus {
      color: $colorTextGray;
      font-weight: 700;
    }
  }
}

.nav-left, .nav-right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30%;
  // background-color: pink;

  & .fa-home {
      color: $colorAquamarine;

      &:hover {
        color: deepskyblue;
      }
    }

   & i {
     color: $colorMain;
   }

  & .box-small-header {
    > h5, p {
      margin: 0;
      color: $colorTextGray;
    }

    & p {
      font-weight: normal;
    }
   }
}

.logo {
  width: 40%;
  & img {
    // height: 40px;
 }
}

.hero {
  background-image: url("../src/img/hero/avada-spa-slider-image-1-new.jpg");
  height: 800px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: $colorWhite;

  & .text-hero {
    display: flex;
    height: 70%;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    > h1, h3 {
      margin: 0;
    }

    > h3 {
      color: rgba(255,255,255, 0.7);
    }

    > button {
      margin-top: 30px;
    }
  }
}
