$colorAquamarine: #6cd6e1;
$colorMain:  #bcafa1;
$colorTextGray: #6b6a69;
$colorWhite: white;
$colorJewel: #126622;
$colorLightgrey: #f7f4ef;
$colorGreyExtraLight: #D7D7D7;
$colorFooterText: #9C9C9C;
$colorPapirWhite: #F6F6F6;
