#spa-experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  justify-content: space-between;


  & .title-luxury-experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;

    > .fa-envira {
      color: $colorMain;
      margin: 25px 0;
      transform: scaleX(-1);
    }
  }

  & hr {
    background-color:$colorMain;
    border-width:0;
    color: $colorMain;
    height:1.5px;
    width: 8%;
    margin: 40px 0;
  }

  & .description-luxury {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

    > p:first-child {
      width: 80%;
      color: $colorMain;
    }

     > p:last-child {
      justify-content: center;
      color: $colorTextGray;
      width: 70%;
      line-height: 30px;
      margin-bottom: 30px;
    }
  }

  & .box-icons-main {
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
    width: 100%;
    height: 170px;

   & .fa-sign-language {
     transform: scaleX(-1);
   }

   & h6 {
     margin: 25px;
     font-weight: normal;
   }

   & .single-icon {
     flex-direction: column;
   }

   & .single-icon:nth-child(2n) {
     align-self: flex-end;
   }
  }
}

#choose-treatments {
  background-color: $colorLightgrey;

  & .wave {
    position: relative;
    width: 100%;
    background: $colorLightgrey;
  }

  & .wave:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 100%;
    width: 100%;
    height: 100px;
    background-color: $colorWhite;
  }

   & .wave:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: $colorWhite;
    left: 0;
  }

  & .content-choose-treatments {
    display: flex;
    // align-items: center;
    justify-content: center;

    & .img-choose-treatments {
      > img {
        height: 700px;
        margin: 200px 100px 100px 60px;
        border: 30px solid white;
        box-shadow: 2px 2px 8px rgb(0, 0, 0, .3);
      }
    }

    & .content-right-choose {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-top: 85px;
      align-self: center;
      height: 650px;
      width: 35%;

      & .text-right-choose-treatments {

        > h2 {
          font-weight: normal;
        }

        > p {
          line-height: 30px;
          margin: 20px 0;
        }
      }
      & .choose-button {
       margin-top: 20px;
      }


      & .content-choose-options {
        display: flex;
        flex-direction: column;

        & .single-choose {
          border: 1px solid $colorMain;
          background-color: $colorWhite;
          padding: 15px;
          margin: 10px 0;

          > .plus-less-choose {
            display: flex;
            align-items: center;
            margin-right: 15px;

            > i {
              margin-right: 20px;
              cursor: pointer;
            }

            > .fa-plus-square {
              color: $colorTextGray;

              &:hover {
                color: $colorAquamarine;
              }
            }

            > .fa-caret-up {
            color: $colorWhite;
            background-color: $colorMain;
            padding: 1px 4px;
            border-radius: 2px;
             margin-bottom: 8px;
            }
          }

          & .info-choose {
            margin: 10px 0;
              & span {
                font-weight: 700;
              }
            }
        }

      }
    }

  }
}

#card-treatments {
  & .bg-our-treatments {
    padding: 65px;
    background-image: url("../src/img/bg-main/ptb_cta-new.jpg");

    > h2 {
      color: $colorWhite;
    }
  }

  & .container-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    & .card {
      width: calc(100% / 4);
      position: relative;
       border: 1px solid $colorGreyExtraLight;

     > .img-card {
       display: flex;
       align-items: center;

       > h2 {
         display: none;
         position: relative;
         z-index: 10;
         left: -50%;
         transform: translateX(-50%);
         color: $colorWhite;
       }

       &:hover {
         > h2 {
           display: block;
         }

         &::after {
           position: absolute;
           content: '';
           background-color: $colorMain;
           top: 0;
           right: 0;
           left: 0;
           height: 550px;
           cursor: pointer;
         }
       }
     }

     & img {
       height: 550px;
       width: 100%;
      }
     }

    & .text-card {
      padding: 30px;

      > h4 {
        margin: 10px 0;

        &:hover {
          color: $colorAquamarine;
          cursor: pointer;
        }
      }

      > hr {
        border:none;
        border-top:1px dotted $colorMain;
        height:1px;
        width:100%;
        margin: 20px 0;
      }

      > p {
        color: $colorTextGray;
      }
    }
  }
}

#special-offer {
  border-bottom: 10px solid $colorGreyExtraLight;

  & .bg-cit {
    display: flex;
    align-items: center;
    background-image: url("../src/img/footer/Home-quota-new.jpg");
    background-repeat: no-repeat;
    background-size: 131%;
    background-position: left bottom;
    height: 800px;
  }

  & .bg-inside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $colorWhite;
    width: 100%;
    background-position: 0% 58%;
    background-size: 131%;
    height: 310px;
    background-image: url("../src/img/footer/Home-quota-new.jpg");
    background-repeat: no-repeat;

    > .text-bg-inside {
      width: 28%;

      > p {
        color: $colorWhite;
      }

      & p:last-child {
        font-weight: 700;
        margin: 40px 0;

        > span {
          font-weight: normal;
        }
      }
    }
  }

  & .box-offer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url("../src/img/bg-main/ptb_cta-new.jpg");
    padding: 100px;

    & .content-discount {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      & span {
        margin-bottom: 5px;
      }

      & span, p {
        color: $colorWhite;
      }

      & .text-center-offert p:first-child {
       margin-bottom: 15px;
      }

      & .button-offer {
        margin-left: 50px;
      }
    }

    & .box-discount {
     display: flex;
     flex-direction: column;
     justify-content: center;
     border: 1px solid $colorMain;
     height: 150px;
     width: 150px;
     margin-right: 60px;
    }
  }
}
